.slideshow {
  position: relative;
  width: 100%;
  height: 95vh;
  text-transform: uppercase;
  text-shadow: 1px 1px grey;
}

.slideshow--slide {
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 2s;
  width: 100%;
}

.slideshow--text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
}

.slideshow--text h2 {
  color: white;
  font-size: 45px;
}

.slideshow--text div {
  color: white;
  font-size: 22px;
  line-height: 1;
}

.slideshow--text svg {
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .slideshow--text h2 {
    font-size: 15px;
  }

  .slideshow--text div {
    font-size: 32px;
  }
}
