.slideshow {
  position: relative;
  width: 100%;
  height: 60vh;
}

.slideshow--text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.slideshow--text h2 {
  color: white;
  font-size: 65px;
}

.slideshow--text div {
  color: white;
  font-size: 50px;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .slideshow--text {
    top: 10px;
  }

  .slideshow--text h2 {
    font-size: 40px;
  }

  .slideshow--text div {
    font-size: 25px;
  }
}
