:root {
  --color-grey: rgb(144, 144, 167);
  --color-purple: rgb(111, 111, 203);
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

body h2 {
  font-weight: 900;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.primary-button {
  background-color: #6f6fcb;
  color: white;
  text-decoration: none;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.primary-button:hover {
  opacity: 0.8;
}

.u-font-weight-bold {
  font-weight: 900;
}

.u-font-weight-normal {
  font-weight: 300;
}

.u-font-size-title {
  font-weight: 37px;
}

.u-font-size-normal {
  font-weight: 20px;
}

@media screen and (max-width: 600px) {
  .u-font-size-title {
    font-weight: 30px;
  }

  .u-font-size-normal {
    font-weight: 18px;
  }
}
