.parallax-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.parallax-wrapper-copy {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .parallax-wrapper-copy h2 {
    font-size: 22px;
    padding-bottom: 15px;
    margin: 10px auto;
  }
}

.parallax-remaining-services {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.parallax-remaining-services div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #6f6fcb;
}

.parallax-icon {
  height: 100px;
  width: 100px;
}

.footer-location {
  margin: 80px auto;
  text-align: center;
}

.footer-location a {
  font-weight: bold;
  color: var(--color-purple);
}

@media screen and (max-width: 600px) {
  .parallax-icon {
    height: 50px;
    width: 50px;
  }

  .parallax-remaining-services {
    width: 100%;
    font-size: 16px;
    align-items: flex-start;
    flex-direction: column;
  }

  .parallax-remaining-services > div {
    margin: 20px;
    font-size: 20px;
  }
}

.footer-bottom {
  background-color: rgb(238, 238, 238);
  width: 100%;
}

.footer-tm {
  color: rgb(129, 128, 147);
  text-align: center;
  padding-bottom: 80px;
}

.footer-links {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  padding: 80px 0;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .footer-links {
    padding: 40px 0;
  }

  .footer-tm {
    padding-bottom: 40px;
  }
}

.footer-links a {
  color: rgb(41, 41, 58);
  text-decoration: none;
  text-transform: capitalize;
}

.footer-links a:hover {
  color: var(--color-purple);
  text-decoration: underline;
}
