.lang {
  display: flex;
  width: 80px;
  justify-content: space-between;
  position: absolute;
  right: 50px;
}

.lang-selected {
  text-decoration: underline;
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 600px) {
  .lang {
    right: 10px;
  }
}

.lang-btn {
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.lang-btn:focus {
  outline: 0;
}
