.home-description {
  position: relative;
  height: 907px;
  width: 100%;
}

.home-description--content {
  position: relative;
  margin: 0 auto;
  height: 1119px;
  width: 1073px;
}

.home-description--primary {
  width: 675px;
  position: absolute;
  height: 877px;
  right: 0;
  top: -80px;
}

.home-description--copy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 16%;
}

.home-description--copy h2 {
  font-size: 65px;
  margin-bottom: 60px;
}

.home-description--secondary {
  width: 620px;
  position: absolute;
  background-color: #e1e7f2;
  height: 400px;
  left: -50%;
  top: 70%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.home-description-secondary--copy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(41, 41, 58);
  padding: 5%;
}

.home-description-secondary--copy h2 {
  font-size: 65px;
  margin-bottom: 60px;
}

.home-description--interior {
  position: absolute;
  width: 100%;
  max-width: 527px;
  max-height: 527px;
  left: -70%;
  top: 27%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
  .home-description--content {
    height: auto;
    width: 100%;
  }

  .home-description--copy {
    padding: 100px 30px;
  }

  .home-description--copy h2 {
    font-size: 40px;
  }

  .home-description-secondary--copy h2 {
    font-size: 40px;
  }

  .home-description--primary {
    width: 100%;
    position: relative;
    left: unset;
    top: unset;
    margin-top: 20px;
  }

  .home-description--secondary {
    margin-top: 20px;
    width: 100%;
    position: relative;
    left: unset;
    top: unset;
  }

  .home-description--interior {
    margin-top: 20px;
    position: relative;
    top: unset;
    left: unset;
  }
}
